*.apk
*.aab
*.zip
app/build/
build/
.gradle/
local.properties
*_resultado_para_chatgpt/
*_resultado_para_chatgpt.zip
*_log.txt
backup_antes_*/
*.bak
backups_*/
app/src/main/res/drawable/n03e_*.xml
app/src/main/res/drawable/n03i_*.xml
app/src/main/res/drawable/n03o_*.xml
app/src/main/res/layout/n03e_*.xml
app/src/main/res/layout/n03i_*.xml
app/src/main/res/layout/n03o_*.xml
